##  Introduction to R and Basic Data Types
1. Installing R and RStudio
   - 1.1 Downloading R and RStudio
   - 1.2 Installing R and RStudio
   - 1.3 Overview of RStudio interface

2. Basic R Syntax
   - 2.1 Comments and basic arithmetic operations
   - 2.2 Variables and assignment


3. Data Types and Structures
   - 3.1 Vectors
   - 3.2 Lists
   - 3.3 Matrices
   - 3.4 Data frames
   - 3.5 Factors
   - 3.6 Basic functions for data types (`length`, `class`, `str`, `summary`)

4. Practical Exercise:
   - 4.1 Create vectors, lists, and data frames
   - 4.2 Perform basic operations on these data structures

# Basic R Syntax
### 2.1 Comments and basic arithmetic operations
Comments are used in R to annotate code and provide explanations. They are preceded by the # symbol. Here's an example:

In [1]:
# This is a comment in R
# It will not be executed when you run the code

# Basic arithmetic operations
1 + 2   # Addition
5 - 3   # Subtraction
4 * 6   # Multiplication
8 / 2   # Division
3^2     # Exponentiation

[1] 3

[1] 2

[1] 24

[1] 4

[1] 9

### 2.2 Variables and assignment
Variables are used to store data values in R. You can assign values to variables using the assignment operator <-. Here's how:

In [2]:
# Assign values to variables
x <- 10
y <- 5

# Perform arithmetic operations with variables
sum <- x + y
product <- x * y

# Print the results
sum
product

[1] 15

[1] 50

# 3. Data Types and Structures
## 3.1 Vectors
Vectors are one-dimensional arrays that can hold numeric, character, or logical data. Here's how to create and work with vectors:

In [3]:
# Create a numeric vector
numeric_vector <- c(1, 2, 3, 4, 5)

# Create a character vector
character_vector <- c("apple", "banana", "orange")

# Create a logical vector
logical_vector <- c(TRUE, FALSE, TRUE)

# Access elements of a vector
numeric_vector[1]   # Access the first element
character_vector[2] # Access the second element

[1] 1

[1] "banana"

### 3.2 Lists
Lists are collections of objects that can be of different types. They are created using the list() function:

In [4]:
# Create a list
my_list <- list(name = "John", age = 30, married = TRUE)

# Access elements of a list
my_list$name      # Access the element named "name"
my_list[[2]]      # Access the second element (age)

[1] "John"

[1] 30

In [5]:
my_list

$name
[1] "John"

$age
[1] 30

$married
[1] TRUE

In [8]:
typeof(my_list)

[1] "list"

In [9]:
class(my_list)

[1] "list"

In [10]:
mode(my_list)

[1] "list"

### 3.3 Matrices
Matrices are two-dimensional arrays with rows and columns. They are created using the matrix() function:

In [11]:
# Create a matrix
my_matrix <- matrix(1:9, nrow = 3, ncol = 3)

# Access elements of a matrix
my_matrix[1, 2]   # Access the element in the first row and second column

[1] 4

In [12]:
my_matrix

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

### 3.4 Data frames
Data frames are tables where each column can be of a different data type. They are commonly used for storing datasets. Here's how to create and work with data frames:

r

In [13]:
# Create a data frame
my_df <- data.frame(name = c("John", "Jane", "Jim"),
                    age = c(30, 25, 35),
                    married = c(TRUE, FALSE, TRUE))

# Access columns of a data frame
my_df$name      # Access the "name" column
my_df$age       # Access the "age" column

[1] John Jane Jim
Levels: Jane Jim John

[1] 30 25 35

In [14]:
my_df

  name age married
1 John 30   TRUE
2 Jane 25  FALSE
3 Jim  35   TRUE

### 3.5 Factors
Factors are used to represent categorical data in R. They are created using the factor() function:

In [15]:
# Create a factor
my_factor <- factor(c("low", "medium", "high", "low"))

# Display levels of the factor
levels(my_factor)

[1] "high"   "low"    "medium"

In [18]:
# levels("Hello")
my_factor

[1] low    medium high   low
Levels: high low medium

### 3.6 Basic functions for data types (length, class, str, summary)
R provides several functions for working with data types:

In [26]:
print(numeric_vector)

[1] 1 2 3 4 5

In [23]:
# Length of a vector
length(numeric_vector)

[1] 5

In [24]:
# Class of an object
class(my_list)

[1] "list"

In [27]:
# Structure of an object
print(str(my_df))

'data.frame':	3 obs. of  3 variables:
 $ name   : Factor w/ 3 levels "Jane","Jim","John": 3 1 2
 $ age    : num  30 25 35
 $ married: logi  TRUE FALSE TRUE
NULL

In [28]:
# Summary statistics of a vector
print(summary(numeric_vector))

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      1       2       3       3       4       5

## 4. Practical Exercise
### 4.1 Create vectors, lists, and data frames
Now it's time for a hands-on exercise. Create the following data structures:

- A numeric vector containing numbers from 1 to 5.
- A list with three elements: your name (as a character), your age (as a numeric value), and your marital status (as a logical value).
- A data frame with the following columns: "Name" (character), "Age" (numeric), "Married" (logical). Populate it with information about three fictional people.
### 4.2 Perform basic operations on these data structures
- Once you have created the data structures, perform the following operations:

- Calculate the sum of the numeric vector.
- Access the second element of the list.
- Print the data frame and inspect its structure using the str() function.
- Generate summary statistics for the numeric vector using the summary() function.

In [29]:
# Create a numeric vector
numeric_vector <- 1:5
print(numeric_vector)

[1] 1 2 3 4 5

In [30]:
# Create a list
my_list <- list(name = "John Doe", age = 30, married = TRUE)
print(my_list)

$name
[1] "John Doe"

$age
[1] 30

$married
[1] TRUE

In [31]:
# Create a data frame
people_df <- data.frame(Name = c("Alice", "Bob", "Charlie"),
                        Age = c(25, 35, 40),
                        Married = c(FALSE, TRUE, TRUE))
print(people_df)

     Name Age Married
1   Alice  25   FALSE
2     Bob  35    TRUE
3 Charlie  40    TRUE

In [32]:
people_df

  Name    Age Married
1 Alice   25  FALSE
2 Bob     35   TRUE
3 Charlie 40   TRUE

In [33]:
# Calculate the sum of the numeric vector
total <- sum(numeric_vector)
print(total)

[1] 15

In [34]:
# Access the second element of the list
second_element <- my_list[[2]]
print(second_element)

[1] 30

In [38]:
people_df

  Name    Age Married
1 Alice   25  FALSE
2 Bob     35   TRUE
3 Charlie 40   TRUE

In [36]:
# Print the data frame
print(people_df)

     Name Age Married
1   Alice  25   FALSE
2     Bob  35    TRUE
3 Charlie  40    TRUE

In [37]:
# Inspect the structure of the data frame
str(people_df)

'data.frame':	3 obs. of  3 variables:
 $ Name   : Factor w/ 3 levels "Alice","Bob",..: 1 2 3
 $ Age    : num  25 35 40
 $ Married: logi  FALSE TRUE TRUE

In [39]:
# Generate summary statistics for the numeric vector
summary_stats <- summary(numeric_vector)
print(summary_stats)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      1       2       3       3       4       5