 
## R 

- R is a programming language.

- R is often used for statistical computing and graphical presentation to analyze and visualize data.
- R is a popular programming language used for statistical computing and graphical presentation.
- Its most common use is to analyze and visualize data.

### Why Use R?
- It is a great resource for data analysis, data visualization, data science and machine learning
- It provides many statistical techniques (such as statistical tests, classification, clustering and data reduction)
- It is easy to draw graphs in R, like pie charts, histograms, box plot, scatter plot, etc++
- It works on different platforms (Windows, Mac, Linux)
- It is open-source and free
- It has a large community support
- It has many packages (libraries of functions) that can be used to solve different problems

In [2]:
# basic arthimatic operations
6 + 5

[1] 11

In [3]:
3 **5

[1] 243

In [4]:
2 ^2

[1] 4

In [6]:
31 / 2

[1] 15.5

### R sytanx
-  text in R, use single or double quotes:

In [7]:
"Hello World"

[1] "Hello World"

In [8]:
'Hello world'

[1] "Hello world"

- numbers, just type the number (without quotes):

In [9]:
6

[1] 6

In [10]:
7 +8

[1] 15

**Print**- 
Unlike many other programming languages, you can output code in R without using a print function:

In [11]:
"hello"

[1] "hello"

- However, R does have a print() function available if you want to use it. This might be useful if you are familiar with other programming languages, such as Python, which often uses the print() function to output code.

In [12]:
print("hello")

[1] "hello"

In [22]:
#ex1
for (x in 1:5) {
    print(x)
    }

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

**Comments**- 
Comments can be used to explain R code, and to make it more readable. It can also be used to prevent execution when testing alternative code.- 

Comments starts with a #. When executing code, R will ignore anything that starts with #.

In [23]:
# this is comment line

In [24]:
# for the multiline comment
# we used # sign only

## R Variables

### Creating Variables in R
 
Variables are containers for storing data values. 
R does not have a command for declaring a variable. A variable is created the moment you first assign a value to it. To assign a value to a variable, use the <- sign. To output (or print) the variable value, just type the variable name:

In [65]:
name <- "Shubham"
age <- 57

In [66]:
name  #auto-print the value of the name variable

[1] "Shubham"

In [67]:
age

[1] 57

In [68]:
nam1 = "shubh"
nam1

[1] "shubh"

**Note**
- In other programming language, it is common to use = as an assignment operator. In R, we can use both = and <- as assignment operators.

- However, <- is preferred in most cases because the = operator can be forbidden in some context in R.
- And there are times you must use the print() function to output code, for example when working with for loops

In [69]:
for (x in 1:10) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### Concatenate Elements

- You can also concatenate, or join, two or more elements, by using the paste() function.
- 
To combine both text and a variable, R uses comma (,):

In [70]:
name <- "Shubham"

paste("My name is ", name)

[1] "My name is  Shubham"

In [73]:
age <- 57
course <- "R and data analysis with R"

In [74]:
paste("My name is ", name,"and I am ",age, course)

[1] "My name is  Shubham and I am  57 R and data analysis with R"

Note : There are some mathematical operator in R:  

- Addition: `+` - Subtraction: `-` - Multiplication: `*` - Division: `/` - Exponentiation: `^` - Modulo: `%%` - Floor division: `%/%`

In [75]:
15 %% 4

[1] 3

In [76]:
15 %/% 4

[1] 3

### WAP that can print Simple interest for given  values of P, r, and t

In [77]:
p <- 1000
r <- 7.5
t <- 4

In [78]:
SI <- p*r*t/100

paste("The SImple Interest : ",SI)

[1] "The SImple Interest :  300"

In [79]:
name

[1] "Shubham"

In [80]:
age

[1] 57

In [81]:
name + age

ERROR: Error in name + age: non-numeric argument to binary operator

**Multiple Variables**

R allows you to assign the same value to multiple variables in one line:

In [82]:
n1 <- n2 <- n3 <- 56

In [83]:
n1

[1] 56

In [84]:
paste(n1, n2, n3)

[1] "56 56 56"

### Variable Names 
    - A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for R variables are:-    -  
A variable name must start with a letter and can be a combination of letters, digits, period(.)    
and underscore(_). If it starts with period(.), it cannot be followed by a digi- t    - .
A variable name cannot start with a number or underscore - (    - _)
Variable names are case-sensitive (age, Age and AGE are three different variab- l    - es)
Reserved words cannot be used as variables (TRUE, FALSE, NULL, if...)

#Legal variable names:
myvar <- "John"
my_var <- "John"
myVar <- "John"
MYVAR <- "John"
myvar2 <- "John"
.myvar <- "John"

# Illegal variable names:
2myvar <- "John"
my-var <- "John"
my var <- "John"
_my_var <- "John"
my_v@ar <- "John"
TRUE <- "John"

### Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

In R, variables do not need to be declared with any particular type, and can even change type after they have been set:

#### Example
```r
my_var <- 30 # my_var is type of numeric
my_var <- "Sally" # my_var is now of type character (aka string)

R has a variety of data types and object classes. You will learn much more about these as you continue to get to know R.

### Basic Data Types

Basic data types in R can be divided into the following types:

- **numeric**: Examples include `10.5`, `55`, `787`.
- **integer**: Examples include `1L`, `55L`, `100L`, where the letter "L" declares this as an integer.
- **complex**: Examples include `9 + 3i`, where "i" is the imaginary part.
- **character (a.k.a. string)**: Examples include `"k"`, `"R is exciting"`, `"FALSE"`, `"11.5"`.
- **logical (a.k.a. boolean)**: Examples include `TRUE` or `FALSE`.

We can use the `class()` function to check the data type of a variable:
```r
class(my_var)


**input function in R**  

In R, there isn't a built-in function like input() as in some other programming languages (e.g., Python) for directly taking user input from the console. However, you can achieve a similar functionality using the **readline()** function.

In [85]:
# Prompt the user for input
user_input <- readline("Enter your input: ")

Enter your input:  5

In [86]:
# Print the user's input
print(user_input)

[1] "5"

In R, you can use various functions to convert data types, also known as typecasting. Here's how you can perform typecasting with user input obtained using readline():

In [87]:
num <- 54
class(num)

[1] "numeric"

In [88]:
int <- 45L
class(int)

[1] "integer"

In [89]:
z <- 3 + 4i
class(z)

[1] "complex"

In [90]:
ch <- "This is just dummy text"
ch

[1] "This is just dummy text"

In [91]:
class(ch)

[1] "character"

In [92]:
l <- TRUE
l

[1] TRUE

In [93]:
class(l)

[1] "logical"

## Type Casting

- Changing data type

- In R, you can use various functions to convert data types, also known as typecasting. Here's how you can perform typecasting with user input obtained using deadline

**1.To Numeric (Double):**
- Use the **`as.numeric()`** function.

In [94]:
# Prompt the user for input
user_input <- readline("Enter a numeric value: ")

user_input
class(user_input)

Enter a numeric value:  55

[1] "55"

[1] "character"

In [97]:
# Convert input to numeric
numeric_input <- as.numeric(user_input)

numeric_input

[1] 55

In [98]:
class(numeric_input)

[1] "numeric"

**2. To Integer:** Use the as.integer() function.

In [99]:
x <- readline("x = " )

class(x)

x =  44

[1] "character"

In [101]:
x_int = as.integer(x)
x_int

[1] 44