## Table of contents

1. [Zip](#zip)
2. [Enumarate](#en)
3. [Practice Excersies 1](#pq1)
2. [List Comprehension](#lstcomp) 
4. [Dicitionary Comprehension](#dictcomp)
5. [Pratice Excersies 2](#pq2)

---
# ZIP <a class="anchor" id="zip"></a>
---
## What is zip() in python?

- The zip function returns an iterator of tuples, where the first item in each passed iterator is paired together, then the second item in each passed iterator is paired together, and so on. 
- If the passed iterators are of uneven length, zip will stop creating tuples when the shortest input iterable is exhausted.
---

## Why is it useful in data science?
In data science, we often deal with **lists or sequences of data**. Sometimes, we may need to pair the elements of multiple sequences together for **processing, comparison, or visualization**.

In [1]:
#Basic Example
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]

In [2]:
paired_data = list(zip(names, scores))
print(paired_data)

[('Alice', 85), ('Bob', 92), ('Charlie', 78)]

In [3]:
# Data Science Example
# Combining two lists into a dictionary, useful for creating look-up tables
names = ['Temperature', 'Humidity', 'Rainfall']
values = [22.5, 65, 12]

In [4]:
data_dict = dict(zip(names, values))
print(data_dict)

{'Temperature': 22.5, 'Humidity': 65, 'Rainfall': 12}

---

# Enumerate <a class="anchor" id="en"></a>
---

## What is `enumerate`?
The enumerate function returns an iterator producing pairs containing indices and values of a sequence. In other words, it adds a counter to the iterable.

---
## Why is it useful in data science?
While processing or iterating over sequences of data, it's often helpful to have the index or position of the current item. This is especially handy when you need to reference or modify other lists or arrays based on a current position.

In [5]:
# basic example
fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [6]:
# data science example
# Finding the position of an outlier in a data list
data_points = [12, 15, 14, 16, 14, 1000, 15]

In [7]:
for index, value in enumerate(data_points):
    if value > 100:  # Setting a threshold to identify an outlier
        print(f"Outlier value {value} found at position {index}")

Outlier value 1000 found at position 5

---
## Practice Exercises: 1 <a class="anchor" id="pq1"></a>

---
### Q1. You've been given two lists. The first list contains customer names and the second list contains their corresponding email addresses. Your task is to merge these lists into a single dictionary where the customer's name is the key and their email is the value.  

```python
customer_names = ['Alex', 'Beth', 'Charlie']
customer_emails = ['alex@example.com', 'beth@example.com', 'charlie@example.com']

# expected output
{
    'Alex': 'alex@example.com',
    'Beth': 'beth@example.com',
    'Charlie': 'charlie@example.com'
}

```

In [8]:
customer_names = ['Alex', 'Beth', 'Charlie']
customer_emails = ['alex@example.com', 'beth@example.com', 'charlie@example.com']
d = zip(customer_names,customer_emails)

In [9]:
dict(d)

{'Alex': 'alex@example.com',
 'Beth': 'beth@example.com',
 'Charlie': 'charlie@example.com'}

### Q2.  You've been given the names of some products and their corresponding prices. Combine these lists into a dictionary for easy lookup of product prices.
```python
products = ['Laptop', 'Mouse', 'Keyboard']
prices = [1000, 20, 50]

# expected output
{
    'Laptop': 1000,
    'Mouse': 20,
    'Keyboard': 50
}

```

### Q3. You have a list of products in a warehouse and you want to label each product with a unique ID starting from 1. Print out each product with its corresponding ID.

```python
products = ['Table', 'Chair', 'Desk']

# expected output
1 Table
2 Chair
3 Desk
```

### Q4. You've collected feedback from attendees after a business seminar. You want to display each feedback with its sequence number to present in a report.

```python
feedbacks = ['Great session!', 'More examples would be better.', 'Loved the hands-on activities.']

# expected output
1. Great session!
2. More examples would be better.
3. Loved the hands-on activities.
```

# List comprehension <a class="anchor" id="lstcomp"></a>
- A concise way to create lists.
- A syntactic construct that consists of a single expression followed by at least one for clause and zero or more if clauses.

`Baics Sytanx`
```python
[expression(or item) for item in <squential data> if <condition>]

# example1
[x for x in range(2,15,2)]

# example2
[10*i for i in range(1,11) if i%3 == 0]
```

In [10]:
# list of number
[x  for x in range(5)]

[0, 1, 2, 3, 4]

In [11]:
# Square of numbers
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
# Even numbers
evens = [x for x in range(10) if x % 2 == 0]
evens

[0, 2, 4, 6, 8]

In [13]:
# Extracting specific data columns from a dataset.
data = [
    {'name': 'Alice', 'age': 25, 'score': 90},
    {'name': 'Bob', 'age': 30, 'score': 85}
]
scores = [entry['score'] for entry in data]
scores

[90, 85]

#  Dictionary Comprehension <a class="anchor" id="dictcomp"></a>
- A concise way to create dictionaries.
- Similar to list comprehensions but produces dictionaries.

`baics sytnax`
```python

{key_expression: value_expression for item (or key, value) in iterable if condition}

# Eaxmple
 { x : x**2 for x in range(1,4)}
```

In [14]:
# Mapping numbers to their squares
squares_dict = {x: x**2 for x in (2, 3, 4)}
squares_dict

{2: 4, 3: 9, 4: 16}

In [15]:
# Creating a mapping of items to their frequency in a list.
fruits = ['apple', 'banana', 'apple', 'orange']
fruit_count = {fruit: fruits.count(fruit) for fruit in fruits}
fruit_count

{'apple': 2, 'banana': 1, 'orange': 1}

You can also make a dictionary by using two list.

In [16]:
course_no = [101,102,103,104]
courses = ["Python","Data Analysis", "Machine Learning","Data Science"]

In [17]:
{key : value for key, value in zip(course_no, courses)}

{101: 'Python',
 102: 'Data Analysis',
 103: 'Machine Learning',
 104: 'Data Science'}

---
## Practice Exercises:  2
---
### Q5. Temperature Conversion: Convert a list of temperatures from Celsius to Fahrenheit.

```python
Input = [0, 10, 20, 30]

# expected output
# [32.0, 50.0, 68.0, 86.0]
```

In [18]:
Input = [0, 10, 20, 30]

[(C-32)*(9/5) for C in Input]

[-57.6, -39.6, -21.6, -3.6]

### Q6. Word Lengths: Given a sentence, create a dictionary where keys are words and values are the lengths of those words.

```python
Input =  "Hello World"

# Expected output
# Output: {'Hello': 5, 'World': 5}
```

In [19]:
Input =  "Hello World"
{key : len(key) for key in Input.split()}

{'Hello': 5, 'World': 5}

Data Analysis Question:

### Q7. Filtering Data: Use a list comprehension to filter rows from a dataset where a score's value exceeds a threshold(=85).

```python
data = [
    {'name': 'Alice', 'score': 85},
    {'name': 'Bob', 'score': 90},
    {'name': 'Charlie', 'score': 80}
]
threshold = 85
 # Expected Output
# [{'name': 'Bob', 'score': 90}]
```

In [20]:
data = [
    {'name': 'Alice', 'score': 85},
    {'name': 'Bob', 'score': 90},
    {'name': 'Charlie', 'score': 80}
]
threshold = 85

In [21]:
[row for row in data if row['score'] > threshold]

[{'name': 'Bob', 'score': 90}]