# Connecting SQLite to Python

![image.png](https://pythontic.com/sqlite_attach_db_python.png)

- SQLite is a lightweight, file-based SQL database engine that is easy to set up and use. 
- Python provides a built-in module called **`sqlite3`** that allows seamless integration with SQLite databases.
- It enables users to perform SQL operations, such as creating databases, executing queries, and manipulating data, directly from Python code.

## Importance in Data Science

1. **Data Storage and Retrieval**: SQLite offers an efficient way to store and retrieve structured data, making it suitable for smaller-scale applications or projects where a full-fledged database might be excessive.

2. **Data Exploration and Analysis**: Integration with Python allows data scientists and analysts to easily access, manipulate, and analyze data using SQL queries and Python code. It facilitates data exploration before processing or analysis.

3. **Prototyping and Development**: For prototyping and developing applications or analytical models, SQLite serves as a convenient and quick-to-set-up database

###  Import Libraries
- **`sqlite3`**: Library for working with SQLite databases.
- **`pandas`**: Library for data manipulation and analysis.

In [1]:
import sqlite3
import pandas as pd

### Connect to the Database
Use **`sqlite3.connect()`** to establish a connection to the SQLite database by providing the database file path.

In [2]:
database = r"C:\Users\Shubham Soni\Documents\SQL\employees.sqlite"

In [3]:
# Connect to the SQLite database
connection =  sqlite3.connect(database)

### Create a Cursor Object
Create a cursor object using `connection.cursor()` to execute SQL queries.

In [4]:
# Create a cursor object to execute SQL queries
cursor = connection.cursor()

###  Retrieve Data
Use `cursor.execute()` to execute an **SQL query (`SELECT * FROM employees`)** to fetch data from the `'employees'` table.

In [5]:
# to update data in the table
cursor = connection.cursor()
d = cursor.execute('''
        SELECT * FROM employees 
    ''')

# Commit the changes
connection.commit()

### Get Column Names
Extract column names from the fetched data using `cursor.description`.

In [6]:
#Get column names
col_names = [x[0] for x in cursor.description]
col_names

['id', 'name', 'job', 'mgr', 'hiredate', 'sal', 'comm', 'dept']

### Fetch Data
Use `cursor.fetchall()` to retrieve all data from the executed SQL query.

In [7]:
# Step 6: Fetch all the data
tables = cursor.fetchall()

### Create a DataFrame
Utilize the **fetched data** and **column names** to create a Pandas DataFrame using `pd.DataFrame()` for perform further data analysis .

In [8]:
#Create a Pandas DataFrame
employees_df = pd.DataFrame(tables, columns=col_names)
employees_df.head()

   id     name      job  mgr    hiredate    sal    comm  dept
0   1  JOHNSON    ADMIN  6.0  12-17-1990  18000     NaN     4
1   2  HARDING  MANAGER  9.0  02-02-1998  52000   300.0     3
2   3     TAFT  SALES I  2.0  01-02-1996  25000   500.0     3
3   4   HOOVER  SALES I  2.0  04-02-1990  27000     NaN     3
4   5  LINCOLN     TECH  6.0  06-23-1994  22500  1400.0     4

### Export Data to CSV
Save the DataFrame to a CSV file using **to_csv()** method with **index=False** to exclude the index column.

In [10]:
# Export the data to a CSV file
employees_df.to_csv("employees.csv", index=False)