## AS03 Assessment Day2

### Q1. Write a program to accept any city from the user and display a monument of that city according to the following criteria:

| City   | Monument                                   |
|--------|---------------------------------------------|
| Delhi  | Red Fort, India Gate, Akshardham           |
| Agra   | Taj Mahal                                  |
| Jaipur | Jal Mahal, Hawa Mahal                      |

### Instructions:
1. **Input**: Accept a city name from the user.
2. **Process**: Match the input city with the available city-monument pairs.
3. **Output**: Display the corresponding monuments.

### Q2. Write a program to perform arithmetic calculations on two numbers according to the user's input.

| Operator | Operation      |
|----------|----------------|
| +        | Addition       |
| -        | Subtraction    |
| *        | Multiplication |
| /        | Division       |
| **       | Exponent       |

### Instructions:
1. **Input**: Accept two numbers and an operator from the user.
2. **Process**: Perform the arithmetic operation based on the user's input.
3. **Output**: Display the result of the calculation.

### Q3. Write a program to calculate the electricity bill by accepting the number of units from the user according to the following criteria:

| Unit        | Price        |
|-------------|--------------|
| First 100 units | No charge  |
| Next 100 units  | Rs 5 per unit |
| After 200 units | Rs 10 per unit |

### Instructions:
1. **Input**: Accept the number of units from the user.
2. **Process**: Calculate the bill amount based on the given price criteria.
3. **Output**: Display the total bill amount.

### Q4. Write a program that displays numbers from 1 to 10 by using `for` loop.

### Q 5.  Write a program that print the table of given range numbers.

```python
n1 = 4
n2 = 7
```

### Q6. WAP, that can find the following with help of while loop:
1. Factorial of a given number
2. Sum of square of numbers from 1 to 20.

### Q7.You are auditing a list of transaction amounts from your store. You want to stop your audit as soon as you find the first suspicious transaction (any transaction over ` $10,000`). Using the data provided, can you identify the day on which the suspicious transaction occurred?

data

```python
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
transactions = [5500, 3200, 15000, 8000, 6800]
```

|    Days    | Transactions |
|------------|--------------|
|  Monday    |     5500     |
|  Tuesday   |     3200     |
| Wednesday  |    15000     |
| Thursday   |     8000     |
|  Friday    |     6800     |

Aggregating Data from Different Sources
### Q8. You're given data as multiple lists representing information from different sources. Write a function named `Merged_data(*data_sources)` that can accept any number of lists and returns a single list containing all the data combined.

```python
# inputs
data1 = [1, 2, 3]
data2 = [4, 5]
data3 = [6, 7, 8, 9]

# output : [1, 2, 3, 4, 5, 6, 7, 8, 9]

```

### Q9. Create a function named "S_count(text,char)" that can count total number of a spefic character in the given text.