#### Loops in tuple
- for
- while

In [1]:
t = (2,3,4,5,7)
t

(2, 3, 4, 5, 7)

In [2]:
for i in t:
    print(i)

2
3
4
5
7

In [14]:
t1 = ()
t1
type(t1)

tuple

In [15]:
for i in range(5,10):
    t1 =  t1 + (i,)
print(t1)

(5, 6, 7, 8, 9)

In [23]:
# 2.
def get_data(aTuple):
    nums= ()
    words = ()
    for t in aTuple:
        nums= nums+ (t[0],)
        if t[1] not in words:
            words = words + (t[1],)
    min_nums= min(nums)
    max_nums= max(nums)
    unique_words= len(words)
    return(min_nums, max_nums, unique_words)

In [24]:
t1 = ("Shubham","Atul")
t2 = (22,23)

In [25]:
get_data(t1)

('A', 'S', 2)

Input: ((1, 'apple'), (2, 'banana'), (3, 'apple'))
nums: (1, 2, 3)
words: ('apple', 'banana')
Output: (1, 3, 2)

In [26]:
t =  ((1, 'apple'), (2, 'banana'), (3, 'apple'))
t

((1, 'apple'), (2, 'banana'), (3, 'apple'))

In [46]:
for i in t:
    print(i)

(1, 'apple')
(2, 'banana')
(3, 'apple')

In [52]:
num = ()
word = ()
for i in t:
    num = num + (i[0],)
    word = word + (i[1],)
    
print("Num : ", num)
print("Word : ", word)

Num :  (1, 2, 3)
Word :  ('apple', 'banana', 'apple')

In [53]:
## 3.
# input1
num

(1, 2, 3)

In [54]:
# input2
word

('apple', 'banana', 'apple')

In [55]:
# output
t

((1, 'apple'), (2, 'banana'), (3, 'apple'))

{1, 2, 3}

(1, 2, 3)

### Wrtie a program that can find:
- sum of factors (input:- 6, output:- 1 + 2 + 3)  
- List of digits (input:- 457, output: [4,5,7]

In [75]:
num = 457

# 4  , 5 , 7

d1 = num % 10
display(d1)
num = num // 10
display(num)

d2 = num % 10
num = num // 10
d2
d3 = num % 10
d3

7

45

4

In [86]:
num = 4578921455
lst = []
for i in range(len(str(num))):
    d = num % 10
    num = num // 10
    lst.append(d)
    
print(lst)

[5, 5, 4, 1, 2, 9, 8, 7, 5, 4]

In [92]:
num = 89369
l  = []
for i in str(num):
    l.append(int(i))
    
print( l)

[8, 9, 3, 6, 9]

In [96]:
# example
subjects = ["Python","ML","Data Ananysis","DS"]

for x in subjects:
    print("I want to learn : ",x)

I want to learn :  Python
I want to learn :  ML
I want to learn :  Data Ananysis
I want to learn :  DS

#### range()
1. range(5): 0, 1 , 2, 3 , 4
2. range(1,5): 1,2,3,4
3. range(1, 11, 2): 1,3 , 5,7,9

In [97]:
range(5)

range(0, 5)

In [98]:
list(range(5))

[0, 1, 2, 3, 4]

In [99]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [100]:
set(range(5))

{0, 1, 2, 3, 4}

In [104]:
for x in range(5):
    print(x, end = ' ')

0 1 2 3 4

### Output function in python 
```python
print(v1,v1,....)
```

In [ ]:
print("Hello")

In [105]:
print("Hello","python", 4,5,2.2)

Hello python 4 5 2.2

In [106]:
print("Hello","python", 4,5,2.2, sep = ' ')

Hello python 4 5 2.2

In [108]:
print("Hello","python", 4,5,2.2, sep = ' --->  ')

Hello --->  python --->  4 --->  5 --->  2.2

In [109]:
print("Hello","python", 4,5,2.2, sep = '\n')

Hello
python
4
5
2.2

In [119]:
print("Hello", end = '***')
print("Python")
print(5)

Hello***Python
5